:root {
    --primary-color: #F9EDCC;
    --secondary-color: #2FA2B1;
    --tertiary-color: #454545;
}

* {
    padding: 0;
    margin: 0;
}


/* Header style */
header {
    background-color: var(--secondary-color);
    display: flex;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 136px;
    flex-direction: column;
}

header img {
    height: 8%;
    margin: 10px;
}

header nav ul li {
    text-align: center;
}

header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

header nav ul li img {
    height: 25%;
    width: 25%;
    margin: 15px;
}

header nav ul li a {
    font-size: 24px;
    margin: 15px;
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Hero */
.hero {
    display: block;
    background-image: url("../images/html-img.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
}

.aboutme {
    background: var(--primary-color);
    margin-left: 136px;
    display: flex;
    text-align: center;
}

h2 {
    color: var(--tertiary-color);
    font-size: 48px;
    margin: 15px;
    text-align: end;
}

.aboutme p {
    border-left: 2px solid var(--tertiary-color);
    font-size: 24px;
    color: var(--tertiary-color);
    padding: 50px;
    margin: 25px 0 25px 15px;

}

.aboutme img {
    width: 25%;
    border-radius: 50%;
    padding: 20px;
}

.project {
    background: var(--primary-color);
    margin-left: 136px;
    display: flex;
    text-align: center;
}

.project-container {
    display: grid;
    grid-auto-columns: repeat(4, fr1);
    grid-auto-rows: repeat(3, fr1);
}

.grid-items