:root {
    --primary-color: #F9EDCC;
    --secondary-color: #2FA2B1;
    --tertiary-color: #454545;
}

* {
    padding: 0;
    margin: 0;
}


/* Header style */
header {
    background-color: var(--secondary-color);
    display: flex;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 136px;
    flex-direction: column;
}

header img {
    height: 8%;
    margin: 10px;
}

header nav ul li {
    text-align: center;
}

header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

header nav ul li img {
    height: 25%;
    width: 25%;
    margin: 15px;
}

header nav ul li a {
    font-size: 24px;
    margin: 15px;
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

header nav ul li:hover {
    background: #9EDDE5;
}

/* Hero */
.hero {
    display: block;
    background-image: url("../images/html-img.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
}

.headline {
    background: var(--primary-color);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-basis: auto;
}

.name {
    background: var(--primary-color);
}

.name p {
    margin-left: 150px;
    margin-right: 50px;
    font-size: 64px;
    color: var(--tertiary-color);
    text-align: center;
}

.aboutme {
    background: var(--primary-color);
    margin-left: 136px;
    display: flex;
    text-align: center;
}

h2 {
    color: var(--tertiary-color);
    font-size: 40px;
    padding: 15px;
    margin: 25px 0;
    text-align: end;
    border-left: 2px solid var(--tertiary-color);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.aboutme-content {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.aboutme p {
    font-size: 24px;
    color: var(--tertiary-color);
    padding: 50px;
    margin: 25px 0 25px 15px;
}

.aboutme img {
    height: 15%;
    width: 15%;
    border-radius: 50%;
    padding: 20px;
}

.project {
    background: var(--primary-color);
    margin-left: 136px;
    display: flex;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 1000px;
    grid-gap: 5px;
    border-radius: 5px;
    padding: 50px;
    margin: 25px 15px;
}


.java {
    background-image: url("../images/javascript.jpeg");
    background-size: cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


.runbud {
    background-image: url("../images/run-buddy.png");
    background-size: cover;
}

.node {
    background-image: url("../images/node-js.png");
    background-size: cover;
}

.sql {
    background-image: url("../images/sql.jpeg");
    background-size: cover;
}

.mern {
    background-image: url("../images/mern.png");
    background-size: cover;
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

.react {
    background-image: url("../images/react.png");
    background-size: cover;
}

.contact {
    background: var(--primary-color);
    margin-left: 136px;
    display: flex;
}

.contact ul {
    font-size: 24px;
    color: var(--tertiary-color);
    padding: 50px;
    margin: 25px 15px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.contact ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
    border-bottom: 3px solid var(--tertiary-color);
    padding-bottom: 10px;
}

@media screen and (max-width: 980px) {
    .aboutme img {
        height: 25%;
        weight: 25%;
        margin: 50px 0 0 0;
    }

    .contact ul {
        flex-direction: column;
        
    }
}

@media screen and(max-width: 768px) {
    .aboutme {
        flex: 2 100%;
    }

}