:root {
    --primary-color: #F9EDCC;
    --secondary-color: #2FA2B1;
    --tertiary-color: #454545;
}

* {
    padding: 0;
    margin: 0;
}

div {
    display: block;
}

/* Header style */
header {
    background-color: var(--secondary-color);
    display: flex;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    flex-direction: column;
}

header img {
    height: 8%;
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

header nav ul li img {
    height: 25%;
    width: 25%;
    margin: 15px;
}

header nav ul li a {
    font-size: 24px;
    margin: 15px;
    text-decoration: none;
    color: var(--tertiary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* Hero */
.hero {
    background-image: url("../images/html-img.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
}
